/* ### osgl-1a/style.css ### */

/* layout */
#box{
	width:60%;
	border:1px solid #A6A9CB;
	margin:0 auto;
	padding:4px;
	background-color:#D7D8F0;}
	#header{
		clear:both;
		margin-bottom:15px;}
	#menu{
		float:right;
		clear:none;
		width:20%;
		padding-bottom:5px;}
	#content{
		float:left;
		clear:none;
		width:80%;
		margin-bottom:15px;}
	#footer{
		clear:both;
		border-top:1px dotted #A6A9CB;
		font-size:0.6em;
		padding-top:5px;
		padding-bottom:5px;
		text-align:center;}
		
/* menu formating */
#menu h2{
	font-size:1em;}
#menu li{
	list-style-type:none;
	font-size:0.9em;}

	
/* content formating */
h2{
	font-size:1.3em;
	margin-bottom:1em;}
h4{	
	}
p{
	font-size:0.8em;}

/* random shitt */
*{
	margin:0;
	padding:0;}
body{
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FEFEFE;
	color:#4B4B4B;}