.seatreg {
	border-right : 0px solid black; 
	border-top : 0px solid black; 
	border-left : 0px solid black; 
	border-bottom : 0px solid black; 
	overflow: hidden;
}


.tdCrew {
	background-color: green;
	color: black;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdWall {
	background-color: black;
	color: white;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdUser {
	background-color: red;
	color: black;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdOpen {
	background-color: white;
	color: black;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdDoor {
	background-color: #553128;
	color: white;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdKiosk {
	background-color: purple;
	color: white;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdAdmin {
	background-color: #ee891a;
	color: black;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdExtra {
	background-color: red;
	color: black;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdHighlight {
	background-color: yellow;
	color: black;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}

.tdTaken {
	background-color: #553128;
	color: yellow;
	width: 15px;
	height: 15px;
	overflow: hidden;
	padding:auto;
}